@import url("{% static 'main.css')");

    .recommendation_fav {
        margin: 20px;
    }
    
    .recommendation_fav h1 {
        position: relative;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2vw;
    }
    
    .recommendation_fav h1::before{
        content: "";
        position: absolute;
        height: .5em;
        /* width: 17%; */
        width: 3em;
        left: calc(3.2em);
        bottom: 0;
        background: var(--main-color);
        z-index: -1;
    }
    
    @media (max-width: 1040px){
    }
    
    @media (max-width: 560px){
    }