header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    transition: 0.7s ease;
}

#wrap {
    display: flex;
      justify-content: center;
      align-items: center;
    position: relative;
    height: 50px;
    float: right;
    padding: 0;
    
  }

  #wrap form{
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
  }
  
  #wrap input[type="text"] {
    height: 40px;
    font-size: .8rem;
    display: inline-block;
    font-family: inherit;
    font-weight: 300;
    border: none;
    outline: none;
    color: white !important;
    padding-right: 30px;
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
  }

  header.sticky #wrap input[type="text"]{
      color: black !important;
  }

  #wrap ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: .75rem;
  }
  
  
  #wrap input[type="text"]:focus {
    width: 20vw;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
    background: none;
    outline: none;
  }

  #wrap input[type="text"]:focus > form{
      outline: none;
  }

  
  #wrap button {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    opacity: .75;
    z-index: 2;
    cursor: pointer;
    transition: opacity .4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #wrap button i{
      border: none;
      background: none;
  }
  

.dropdown {
    float: right;
    position: relative;
    margin-left: 10px;
}

.dropdown .dropbtn {
    font-size: 1em;
    border: none;
    outline: none;
    font-family: inherit;
    margin-left: 20px;
    color: black;
    background-color: #fff;
    border-radius: 30px;
    padding: 0 3px;
    outline: .3px solid black;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: calc(100%);
    right: 0;
    background-color: #ffffff;
    max-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 9999;
    border-radius: 10px;
}

.dropdown-content a {
    color: black !important;
    margin: 5px 0 !important;
    padding: 6px 10px;
    min-width: 120px;
    text-decoration: none;
    display: inline-block;
    font-size: .8em !important;
}

.dropdown-content a:hover {
    background-color: rgb(212, 212, 212);
}

.dropdown:hover .dropdown-content {
    display: block;
}

header.sticky {
    padding: 10px 50px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.2);
}


header.sticky .brand {
    color: var(--main-color) !important;
}

header .brand {
    color: white;
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

header.sticky #wrap i{
    color: black;
}

header.sticky .navigation .navigation-items a{
    color: black !important;
}

header .navigation-items .nav-text{
    color: white;
    position: relative;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    transition: 0.3s ease;
}



.dropbtn i {
    margin: 0 3px;
}

#menu-dropdown {
    font-size: .7em;
}

header .navigation .navigation-items .nav-text:before {
    content: '';
    position: absolute;
    background: white;
    border-color: #000000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items .nav-text:hover:before {
    width: 100%;
}

header.sticky .navigation .navigation-items .nav-text:before {
    content: '';
    position: absolute;
    background: rgb(0, 0, 0);
    border-color: #000000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header.sticky .navigation .navigation-items a:hover:before {
    width: 100%;
}

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }
    header .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation.active .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }
    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }
    header .navigation.active .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    .menu-btn {
        background: url(../images/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn.active {
        z-index: 999;
        background: url(../images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}