<!-- Pass 'court' objects to the card-->

<a href="{{ court.get_absolute_url }}">
<div class="card mx-0 border border-0 rounded-0">
    <img class="card-img-top card-image img-fluid" src="{{ court.img1.url }}" alt="{{ court.title }}">
    <div class="card-body">
        <div class="d-flex mt-2 mb-2">
            <div class="mr-auto card-type">{{ court.type }}</div>
            <div class="card-city">{{ court.user_partner.city }}</div>
        </div>
        <p class="card-title">{{ court.title }}</p>
        <p class="card-rate">Rp{{ court.rate }} /jam</p>
        <p class="card-address">{{ court.user_partner.address }}</p>
    </div>
</div>
</a>