{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'test_app/css/navbar.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
{% endblock %}

{% block content %}

<header id='navbar'>
  <a href="{% url 'home' %}" class="brand">LOGO</a>
  
  <div class="menu-btn"></div>
  <div class="navigation">
    
    <div class="navigation-items">
      <div id="wrap">
        <form action="/s/" method="get" autocomplete="off">
        <input id="search" name="key" type="text" placeholder="Nama Tempat, Jenis Olahraga, Alamat" {% if key %} value="{{ key }}" {% endif %}>
        <button type="submit" class="btn btn-success">
          <i class="fas fa-search"></i>
      </button>
        </form>
      </div>
      <a class="nav-text" href="#">Jadi Partner</a>
      <a class="nav-text" href="#">Lapangan Favorit</a>
      <a class="nav-text" href="#">Pesanan Saya</a>
      <div class="dropdown">
        <button class="dropbtn"> 
          <i class="fas fa-bars" id="menu-dropdown"></i>
          <i class="fas fa-user-circle"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Log In</a>
          <a href="#">Sign Up</a>
        </div>
      </div> 
    </div>
      
      
    </div>
  
</header>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  window.addEventListener('scroll', function () {
    var header = document.querySelector('header');
    header.classList.toggle('sticky', window.scrollY > 0);
  })
</script>

<script type="text/javascript">
  //Javacript of responsive navigation menu
  const menuBtn = document.querySelector(".menu-btn");
  const navigation = document.querySelector(".navigation");

  menuBtn.addEventListener("click", () => {
    menuBtn.classList.toggle("active");
    navigation.classList.toggle("active");
  });

</script>


{% endblock %}
