@import url("{% static 'main.css')");

    .buttonlg-container{
        position: relative;
        padding-bottom: 35px;
    }

.buttonlg-container a {
    display: block;
    /* background: #fff; */
    width: 15%;
    background: #ED1E1E;
    padding: 10px 0;
    /* color: #1680AC; */
    /* color: #ED1E1E; */
    color: #ffffff;
    /* font-size: 1.1em; */
    font-size: 1.1vw;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
    /* display: flex; */
}

.buttonlg-container a:hover {
    color: var(--main-color);
    background-color: #fff;
    text-decoration: none;
}

.buttonlg-container a span {
    display: block;
    position: absolute;
    background: var(--main-color);
}

.buttonlg-container a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.buttonlg-container a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.buttonlg-container a span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.buttonlg-container a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.buttonlg-container a span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.buttonlg-container a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.buttonlg-container a span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.buttonlg-container a:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}