@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
	--main-color: #F32323;
	--second-color: #FF4646;
	--grey-light: #787878;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
  }

body{
	background-color: #FFFFFF;
}

body button:focus{
	outline: none;
}

button{
	padding: 5px 0;
}

button:hover {
	cursor: pointer;
}

input, textarea{
	padding: 5px 5px;
	border: 2px solid #94D2E6;
	border-radius: 5px;
	font-size: 18px;
	font-family: Serif;
}

input:focus, textarea:focus{
	outline-color: #F16F6F;
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: none;
}

img {
    vertical-align: bottom;
}