{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'test_app/css/home_about_us.css' %}">
{% endblock %} 

{% block content %}
    <div class="buttonlg-container">
        <div class="container my-5">
            <div class="row d-flex justify-content-center mb-3">
                <div class="col-md-8">
                    <h4 class="text-center mb-4">Lorem ipsum dolor sit amet</h4>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    </p>
                </div>
                
            </div>

            <a href="#" class="btn-link">
                <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Tentang Kami
            </a>
        </div>
    </div>
{% endblock %}