{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'test_app/css/footer.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class="footer-container">
    <div class="footer-logo-tagline">
        <h1>LOGO</h1>
        <h2>When sports combined with technology.</h2>
    </div>
    <div class="footer-link-collection">
        <div class="footer-link-content">
            <div class="content-section footer-address">
                <h3>"OUR BRAND" HQ</h3>
                <span class="horizontal-line"></span>
                <p>(917) 909-2953</p>
                <p>115 W 30th Street, Suite 900</p>
                <p>New York City, NY 10001</p>

            </div>
            <div class="content-section footer-company">
                <h3>COMPANY</h3>
                <span class="horizontal-line"></span>
                <a href='#'>About</a>
                <a href='#'>Services</a>
                <a href='#'>Contact</a>
                <a href='#'>Blogs</a>

            </div>
            <div class="content-section footer-policy">
                <h3>POLICY</h3>
                <span class="horizontal-line"></span>
                <p>Terms of Use</p>
                <p>Privacy Policy</p>
                <p>Cookie Policy</p>

            </div>
            <div class="content-section footer-connect">
                <h3>CONNECT</h3>
                <span class="horizontal-line"></span>
                <div class="footer-icon">
                    <a class="btn-icon" href="#">
                        <i class="fab fa-google"></i>
                    </a>
                    <a class="btn-icon" href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="btn-icon" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn-icon" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn-icon" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                </div>
                

            </div>
        </div>
        <div class="copyright-backtotop">
            <div class="cb-content copyright-content">
                <p>Site by Gibran & Dani</p>
                <p>© Copyright 2019</p>
                <p>All Rights Reserved</p>

            </div>
            <div class="cb-content backtotop-container" onclick="scrollToTop();">
                <a class="main" href="#">
                    <i class="fas fa-arrow-up main-arrow"></i>

                </a>
                <a class="second" href="#">
                    <i class="fas fa-arrow-up second-arrow"></i>

                </a>

            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    function scrollToTop(){
        window.scrollTo({
            top: 0,
            behavior: 'smooth',
        })
    }
</script>
{% endblock %}