{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'test_app/css/home_header.css' %}">
{% endblock %} 
{% block content %}
<section class="home">
    <div class="images-home">
        <img src="{% static 'test_app/images/muktasim-azlan-rjWfNR_AC5g-unsplash.jpg' %}" alt="" class="image-slide">
        <img src="{% static 'test_app/images/prapoth-panchuea-OMWubltUEfE-unsplash.jpg' %}" alt="" class="image-slide">
        <img src="{% static 'test_app/images/basketball.jfif' %}" alt="" class="image-slide">
    </div>

    <div class="slider-navigation">
        <div onclick="slider_nav(1)" class="nav-btn" id="radio1"></div>
        <div onclick="slider_nav(2)" class="nav-btn" id="radio2"></div>
        <div onclick="slider_nav(3)" class="nav-btn" id="radio3"></div>
    </div>

</section>
{% endblock %}

{% block scripts %}


<script>
    var indexValue = 1;
    showImg(indexValue);

    function timerFunc() {
        indexValue++;
        if (indexValue > 3) {
            indexValue = 1;
        }
        showImg(indexValue);
    }

    var myTimer = setInterval(timerFunc, 7500);

    function slider_nav(e) {
        showImg(indexValue = e);
        clearInterval(myTimer);
        myTimer = setInterval(timerFunc, 7500);
    };

    function showImg(e) {
        console.log(indexValue);
        active_slider(indexValue);

        var i;
        const img = document.querySelectorAll('.image-slide');
        const sliders = document.querySelectorAll('.slider-navigation div');
        //   console.log(img.length)
        if (e > img.length) {
            indexValue = 1
        }
        if (e < 1) {
            indexValue = img.length
        }
        for (i = 0; i < img.length; i++) {
            img[i].style.display = "none";
        }
        img[indexValue - 1].style.display = "block";


        function active_slider(indexValue) {
            var el = document.querySelector('div.nav-btn.active');

            // Check if the element exists to avoid a null syntax error on the removal
            if (el) {
                el.classList.remove('active');
            }
            document.getElementById('radio' + indexValue).classList.add('active');
        }
    }

    
</script>


{% endblock %}