{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'test_app/css/how_to_book.css' %}">
{% endblock %} 

{% block content %}
<div class="howtobook-container" loading="lazy">
    <h1>Bagaimana Cara Reservasi Lapangan?</h1>
    <div class="step-book-container" >
        <div class="step-content" id="step-login">
            <img src="{% static 'test_app/images/login.png' %}" alt="" srcset="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, quae!</p>
        </div>
    
        <div class="step-content" id="step-kategori">
            <img src="{% static 'test_app/images/sports.png' %}" alt="" srcset="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, quae!</p>
        </div>
    
    
        <div class="step-content" id="step-tanggal">
            <img src="{% static 'test_app/images/booking.png' %}" alt="" srcset="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, quae!</p>
        </div>
    
        <div class="step-content" id="step-bayar">
            <img src="{% static 'test_app/images/payment-method.png' %}" alt="" srcset="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, quae!</p>
        </div>
    </div>
</div>
{% endblock %}