{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'test_app/css/home_sports_category.css' %}">
{% endblock %} 

{% block content %}

<div class="sports_category_container">
    <h1>Pilih Kategori Olahraga</h1>
    <div class="card-collection-container" id="card-row-1">
        <div class="card-container card-futsal">
            <a href='ctg/futsal/'>
                <div class="card-content">
                    <h3>Futsal</h3>
                </div>
            </a>   
        </div>
        <div class="card-container card-badminton">
            <a href='ctg/badminton/'>
                <div class="card-content">
                    <h3>Badminton</h3>
                </div>
            </a>   
        </div>
        <div class="card-container card-basket">
            <a href='ctg/basket/'>
                <div class="card-content">
                    <h3>Basket</h3>
                </div>
            </a>   
        </div>
        <div class="card-container card-sepakbola">
            <a href='ctg/sepak_bola/'>
                <div class="card-content">
                    <h3>Sepak Bola</h3>
                </div>
            </a>   
        </div>
    </div>
    <div class="card-collection-container" id="card-row-2">
        <div class="card-container card-voli">
            <a href='ctg/voli/'>
                <div class="card-content">
                    <h3>Voli</h3>
                </div>
            </a>   
        </div>
        <div class="card-container card-tenis">
            <a href='ctg/tenis/'>
                <div class="card-content">
                    <h3>Tenis</h3>
                </div>
            </a>   
        </div>
        <div class="card-container card-billiard">
            <a href='ctg/billiard/'>
                <div class="card-content">
                    <h3>Billiard</h3>
                </div>
            </a>   
        </div>
        <div class="card-container card-tenis-meja">
            <a href='ctg/tenis_meja/'>
                <div class="card-content">
                    <h3>Tenis Meja</h3>
                </div>
            </a>   
        </div>
    </div>
    

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'test_app/js/vanilla-tilt.js' %}"></script>
<script type="text/javascript">
	VanillaTilt.init(document.querySelectorAll(".card-container"), {
        reverse: true,
		max: 25,
		speed: 500,
        glare: true,
        "max-glare": 1,
	});
	
	
</script>
{% endblock %}
