{% extends 'test_app/base.html' %}
{% load static %}

{% block title %}
    Booking Court
{% endblock %}

{% block head%}
    <link rel="stylesheet" type="text/css" href="{% static 'test_app/css/card.css' %}">
{% endblock %}

{% block content %}
    <!-- Header -->
    {% include "test_app/home/sections/header.html" %}

    <!-- Sport Category -->
    {% include "test_app/home/sections/sports_category.html" %}

    <!-- How to Book -->
    {% include "test_app/home/sections/how_to_book.html" %}

    <!-- Recomendation 1 -->
    {% include "test_app/home/sections/recomendation_1.html" %}

    <!-- Articles -->
    {% include "test_app/home/sections/articles.html" %}

    <!-- Recomendation 2 -->
    {% include "test_app/home/sections/recomendation_2.html" %}

    <!-- About Us -->
    {% include "test_app/home/sections/about_us.html" %}

    <!-- Footer -->
    {% include "test_app/home/sections/footer.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}